<%= @valores2_estacion %>

<% if @idema %>
	<% if @valores2_estacion %>

		<% @valores2_estacion.each do |clave, valor| %>
		<div class="card text-center">
		  <div class="card-header">
		  	

 <h1><%= clave["ubi"] %>- <%= clave["idema"] %></h1>

			  </div>
			  <div class="card-body">

	<table class="table">
	  <thead>
	    <tr>
	      
	      <th scope="col">Fecha Intervalo</th>
	      <th scope="col">PREC</th>
	      <th scope="col">TA</th>
	      <th scope="col">VV</th>
	      <th scope="col">TPR</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @valores2_estacion.each do |clave, valor| %>
	    <tr>
	      <th scope="row"><%= clave["fint"] %></th>
	      
	      <td><%= clave["prec"] %></td>
	      <td><%= clave["ta"] %></td>
	      <td><%= clave["vv"] %></td>
	      <td><%= clave["tpr"] %></td>
	      
	      
	     
	    </tr>
	    <% end %>
	  </tbody>
	</table>


			  </div>
			  <div class="card-footer text-muted">
			    Ubicación: <%= clave["ubi"] %> Latitud : <%= clave["lat"] %> Longitud :<%= clave["lon"] %>

			  </div>
		  <% end %>
		<% end %>
</div>
<% end %>